<a href="https://colab.research.google.com/github/ithapa1/data-visualization/blob/main/assignment7(SQL_Wrap_up).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Wrap Up

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
%%bigquery --project data-visualization-338803

SELECT *
  From `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  lIMIT 10

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6
7  9900286214  ...                0
8  9900286540  ...               12
9    13575843  ...               47

[10 rows x 9 columns]

In [ ]:
%%bigquery --project data-visualization-338803
SELECT start_station_name, COUNT(start_station_id) as total_starting_point
  From `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  GROUP BY start_station_name
  Order BY total_starting_point DESC
  LIMIT 10

                        start_station_name  total_starting_point
0                     21st & Speedway @PCL                 72799
1                     Riverside @ S. Lamar                 40635
2                 City Hall / Lavaca & 2nd                 36520
3                           2nd & Congress                 35307
4                     Rainey St @ Cummings                 34758
5                              5th & Bowie                 34283
6                   Davis at Rainey Street                 31529
7                           4th & Congress                 31385
8  Convention Center / 4th St. @ MetroRail                 31381
9                              Zilker Park                 28950

from the above table, you can see the highest starting point in descending order.

In [ ]:
%%bigquery --project data-visualization-338803
SELECT start_station_name, end_station_name, duration_minutes as time_travelled
  From `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  WHERE  start_station_name = end_station_name and  duration_minutes >=60
  LIMIT 50

                         start_station_name  ... time_travelled
0                   Toomey Rd @ South Lamar  ...             82
1                          Waller & 6th St.  ...             76
2                          Waller & 6th St.  ...             75
3                          Waller & 6th St.  ...             74
4                          Waller & 6th St.  ...             73
5           State Capitol @ 14th & Colorado  ...            453
6                   Toomey Rd @ South Lamar  ...            121
7                   Toomey Rd @ South Lamar  ...            122
8                         Rainey @ River St  ...             88
9                         Rainey @ River St  ...             87
10                        Rainey @ River St  ...             87
11                             Nueces @ 3rd  ...             73
12                        Rainey @ River St  ...             86
13                             Nueces @ 3rd  ...             71
14                       11th & San Jacinto  ...            148
15                 ACC - West & 12th Street  ...            173
16                       11th & San Jacinto  ...            147
17                             Nueces @ 3rd  ...            365
18          State Capitol @ 14th & Colorado  ...             63
19                 ACC - West & 12th Street  ...             95
20                       11th & San Jacinto  ...            261
21                             Lavaca & 6th  ...            174
22                       11th & San Jacinto  ...             68
23                         Waller & 6th St.  ...             60
24                         Zilker Park West  ...            104
25                         Zilker Park West  ...            102
26                         Zilker Park West  ...            102
27                       11th & San Jacinto  ...            106
28  Capital Metro HQ - East 5th at Broadway  ...            285
29                       11th & San Jacinto  ...            105
30  Capital Metro HQ - East 5th at Broadway  ...            367
31                  Toomey Rd @ South Lamar  ...             78
32                             Nueces @ 3rd  ...            141
33                  Toomey Rd @ South Lamar  ...             82
34                             Nueces @ 3rd  ...            142
35                  Toomey Rd @ South Lamar  ...             81
36                  Toomey Rd @ South Lamar  ...             77
37                       11th & San Jacinto  ...            102
38           East 11th St. at Victory Grill  ...            296
39                             Nueces @ 3rd  ...            162
40           East 11th St. at Victory Grill  ...            297
41                             Nueces @ 3rd  ...            162
42                       11th & San Jacinto  ...            102
43                             Nueces @ 3rd  ...            163
44                             Nueces @ 3rd  ...            108
45                             Nueces @ 3rd  ...             72
46                             Nueces @ 3rd  ...            107
47                             Nueces @ 3rd  ...             74
48                             Nueces @ 3rd  ...            218
49           East 11th St. at Victory Grill  ...            131

[50 rows x 3 columns]

here, you can see the time travelled data within 6o minutes.

In [ ]:
%%bigquery --project data-visualization-338803
SELECT COUNT(*) as No_of_OverThe_Hour_Loops
  From `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  WHERE  start_station_name = end_station_name and  duration_minutes >=60

   No_of_OverThe_Hour_Loops
0                     56369

# **Assign6 begins**
# work need to do!
Examine the average trip on Austin bike share grouping by property_type column from the bikeshare_stations table. Is average time on trips starting from 'parkland' longer than from 'sidewalks'? To answer this question you must join the bikeshare_trips and bikeshare_stations on the start_station_name and the name from their respective tables.

SQL Joins

In [ ]:
%%bigquery --project data-visualization-338803
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE property_type != "NONE"
Limit 15

    station_id  ...             modified_date
0         2502  ... 2021-01-04 12:00:00+00:00
1         3687  ... 2021-01-04 12:00:00+00:00
2         3684  ... 2021-01-04 12:00:00+00:00
3         2572  ... 2021-01-04 12:00:00+00:00
4         2575  ... 2021-01-04 12:00:00+00:00
5         2574  ... 2021-01-04 12:00:00+00:00
6         2707  ... 2021-01-04 12:00:00+00:00
7         1111  ... 2021-11-04 02:12:00+00:00
8           11  ... 2021-11-04 02:24:00+00:00
9         4699  ... 2021-07-27 08:25:00+00:00
10        2570  ... 2021-01-04 12:00:00+00:00
11        2496  ... 2021-01-04 12:00:00+00:00
12        2497  ... 2021-01-04 12:00:00+00:00
13        3294  ... 2021-01-04 12:00:00+00:00
14        4047  ... 2021-01-04 12:00:00+00:00

[15 rows x 14 columns]

In [ ]:
%%bigquery --project data-visualization-338803
SELECT property_type as Type, COUNT(property_type ) as Num
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations` 
WHERE property_type != " "
group by  property_type
LIMIT 10

                   Type  Num
0              parkland    6
1              sidewalk   28
2          paid_parking   19
3    nonmetered_parking    8
4  undetermined_parking   19

In [ ]:
%%bigquery --project data-visualization-338803
SELECT trip.start_station_id, trip.start_station_name, station.property_type, trip.duration_minutes as Trip_Duration
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trip INNER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_stations` as station 
ON trip.start_station_name=station.name AND station.property_type != "None" AND station.property_type != " "
LIMIT 20

    start_station_id  ... Trip_Duration
0               2823  ...            16
1               2823  ...            23
2               2823  ...             4
3               2823  ...            10
4               2568  ...             3
5               2568  ...            11
6               3291  ...            20
7               3291  ...            35
8               3291  ...            19
9               2568  ...            27
10              3291  ...             7
11              2823  ...            13
12              3293  ...            32
13              2568  ...             0
14              3293  ...            31
15              2568  ...             0
16              1007  ...            17
17              2568  ...             3
18              1007  ...            19
19              1007  ...             0

[20 rows x 4 columns]

In [ ]:
%%bigquery --project data-visualization-338803
SELECT station.property_type, AVG(trip.duration_minutes) as Average_Trip_Duration
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trip INNER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_stations` as station 
ON trip.start_station_name=station.name AND station.property_type != "None" AND station.property_type != " "
GROUP BY station.property_type
LIMIT 10

          property_type  Average_Trip_Duration
0  undetermined_parking              23.098028
1              sidewalk              29.263569
2    nonmetered_parking              49.046326
3          paid_parking              25.852535
4              parkland              39.375957

here, I was struggling to figure out the averaging of the data, finally i got the idea from professor github and takes longer than usual time to find out the average of the data.

# Quiz 7 begins!!
here, the challenging parts begins!!

# **How many bikeshare are there in overall?**

In [ ]:
%%bigquery --project data-visualization-338803
SELECT *
  From `bigquery-public-data.austin_bikeshare.bikeshare_trips`
  lIMIT 10

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6
7  9900286214  ...                0
8  9900286540  ...               12
9    13575843  ...               47

[10 rows x 9 columns]

In [ ]:
%%bigquery --project data-visualization-338803
SELECT COUNT(bikeid) as Overall_number_of_bikes
  From `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   Overall_number_of_bikes
0                  1424063

In [ ]:
%%bigquery --project data-visualization-338803
SELECT Start_station_name, bikeid as Bike_Id
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
# Where bikeid != " " 
Group by Start_station_name, bikeid
Order BY bikeid ASC
LIMIT 150

                           Start_station_name Bike_Id
0                           Rainey @ River St    None
1                       East 2nd & Pedernales    None
2                     Toomey Rd @ South Lamar    None
3                                  Pease Park    None
4                            Zilker Park West    None
..                                        ...     ...
145  MoPac Pedestrian Bridge @ Veterans Drive    004G
146                South Congress & Elizabeth    004G
147                         23rd & Rio Grande    004G
148                            5th & Campbell    004G
149                           23rd/Rio Grande    004G

[150 rows x 2 columns]

In [ ]:
%%bigquery --project data-visualization-338803
SELECT SUM(duration_minutes) as total_duration_minutes, bikeid as Bike_Id, AVG(duration_minutes) as Average
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
# Where bikeid != " " 
Group by  bikeid 
Order BY total_duration_minutes DESC
LIMIT 150

     total_duration_minutes Bike_Id    Average
0                    115913     893  47.408180
1                    110976     135  36.807960
2                    108715     370  33.585110
3                    106341     391  34.292486
4                    105499     862  36.142172
..                      ...     ...        ...
145                   84952     224  28.934605
146                   84930     870  32.478011
147                   84846     206  28.357620
148                   84818     772  28.481531
149                   84801     164  31.419415

[150 rows x 3 columns]

In [ ]:
%%bigquery --project data-visualization-338803
SELECT SUM(duration_minutes) as total_duration_minutes, bikeid as Bike_Id,
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
# Where bikeid != " " 
Group by  bikeid 
Order BY total_duration_minutes ASC
LIMIT 150

     total_duration_minutes   Bike_Id
0                         2   Block03
1                       265  Grifford
2                       768       987
3                      1141     14244
4                      1529     21875
..                      ...       ...
145                    9435     198BB
146                    9502     21472
147                    9515     21426
148                    9536      133G
149                    9570     21876

[150 rows x 2 columns]