<a href="https://colab.research.google.com/github/ithapa1/data-visualization/blob/main/quiz7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 7
Here, I have found another data in the data base which is newyork_citibike. So I will do general comparision. It is a simple way of comparision. I really could not come up with a fancy code or a comparision techniques. I am actually comparing Newyork with austin. With out even doing anything one can easily tell than obviously the country overcomes the city but would like to see how big?

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [2]:
%%bigquery --project data-visualization-338803
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 10

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6
7  9900286214  ...                0
8  9900286540  ...               12
9    13575843  ...               47

[10 rows x 9 columns]

In [3]:

%%bigquery --project data-visualization-338803
SELECT bikeid, AVG(duration_minutes) as average, STDDEV(duration_minutes) as standarddeviation 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY bikeid

      bikeid      average  standarddeviation
0        248    39.438909         413.194352
1        446    28.104430          71.111511
2        203    29.808133          81.703931
3        101    28.657947          73.429760
4        242    30.268603          68.460846
..       ...          ...                ...
986    19539    83.237288         494.297493
987      987    45.176471          59.807227
988  Block03     2.000000                NaN
989  Block05  3385.000000                NaN
990  Block02   671.800000         183.173961

[991 rows x 3 columns]

In [4]:
%%bigquery --project data-visualization-338803

SELECT MAX(duration_minutes) as max_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   max_time
0     34238

Now, i am going to upload the Newyork citibike's data

In [14]:
%%bigquery --project data-visualization-338803
SELECT *
FROM `bigquery-public-data.new_york_citibike.citibike_stations`
LIMIT 10

   station_id  ... last_reported
0         128  ...    1970-01-01
1         224  ...    1970-01-01
2         229  ...    1970-01-01
3         410  ...    1970-01-01
4         434  ...    1970-01-01
5         447  ...    1970-01-01
6         479  ...    1970-01-01
7        3050  ...    1970-01-01
8        3165  ...    1970-01-01
9        3260  ...    1970-01-01

[10 rows x 18 columns]

here, I am going to find out the average, standard-deviation of the london bicycles and also uploading.

In [24]:
%%bigquery --project data-visualization-338803 
SELECT bike_id, AVG(duration) as average, STDDEV(duration) as standarddeviation 
FROM `bigquery-public-data.london_bicycles.cycle_hire`
GROUP BY bike_id
LIMIT 10

   bike_id      average  standarddeviation
0     7054  1315.047619        6571.627227
1     3792  1310.872056        3533.146980
2     3038  1261.600547        3446.321478
3    10868  1256.040127        3278.805226
4     7183  1260.270406        3796.844556
5     7619  1331.040000        5988.549675
6     2779  1089.868421        2008.267768
7     1710  1538.995339       10728.231085
8     6748  1334.618705        4664.079341
9    12290  1257.295981        3518.945359

In [26]:
%%bigquery --project data-visualization-338803 
SELECT MAX(duration) as max_time2
FROM `bigquery-public-data.london_bicycles.cycle_hire`

   max_time2
0    2674020

In a nustshell, I uploaded the three different data from austin, Newyork and london and finally, I just figure out the max duration time of the london_bicycles. I am not sure it is the right thing or not as questioned ask?