<a href="https://colab.research.google.com/github/ithapa1/data-visualization/blob/main/SQL_Essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL Query**

Now, i am going to imports all the libraries that are necessary to load the needed sets of information.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that Authentication is done, I will be looking at the data and play around. I am going to plot all the data related to the austin bikeshare trips.

In [2]:
%%bigquery --project data-visualization-338803
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

now, i am going to plot the station name and average time.

In [3]:
%%bigquery --project data-visualization-338803
SELECT AVG(duration_minutes) as avg_time, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
Order by avg_time

       avg_time          start_station_name
0      6.800000                        Shop
1      9.750000  Mobile Station @ Unplugged
2     11.810289                 Main Office
3     13.494125        Dean Keeton & Whitis
4     13.893964                22nd & Pearl
..          ...                         ...
188  105.000000                      Stolen
189  114.000000       cesar Chavez/Congress
190  126.739316              17th/Guadalupe
191  132.333710                  6th/Lavaca
192  197.470588           East 5th/Shady Ln

[193 rows x 2 columns]

here, lets put the data related to no_trips and start station name.

In [4]:
%%bigquery --project data-visualization-338803
SELECT COUNT(start_station_name) as No_Trip, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
Order by No_Trip

     No_Trip          start_station_name
0          1                      Stolen
1          1               Eeyore's 2017
2          1       cesar Chavez/Congress
3          2               Eeyore's 2018
4          4  Mobile Station @ Unplugged
..       ...                         ...
188    34758        Rainey St @ Cummings
189    35307              2nd & Congress
190    36520    City Hall / Lavaca & 2nd
191    40635        Riverside @ S. Lamar
192    72799        21st & Speedway @PCL

[193 rows x 2 columns]